.side-holder{
    margin: 0 auto;
    
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
}

.review-body-width{
    margin: 0 auto;
    
    max-width: 870px;
    padding-left: 20px;
    padding-right: 20px;
}