
header{
    max-width: 1200px;
    margin: 0 auto;
.heder-holder{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .logo{
        
        a{
            img{
                width: 85px;
                padding: 7px 0 8px 0;
                @media screen and (min-width: $phone-width){
                    padding: 13px 0;
                    width: 190px;
                }
            }
        }
    }
    
    .burger-menu{
        display: none;
        @media screen and (max-width: $desktop-width){
            display: block;    
            a{
                color: $title-menu;
                @media screen and (min-width: $phone-width){
                        img{
                            width: 35px
                        };
                }
            }
        }
    }

    .wide-menu{
        @media screen and (max-width: $desktop-width){
        display: none;    
        }
        display: flex;
        gap: 50px;
        .div-h5{
            a{
                text-decoration: none;
                cursor: pointer;
                h5{
                    color: $title-menu;
                    padding: 19px 0;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                }
            }
        }
        .chevron{
            a{
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $title-menu;
                cursor: pointer;
                .fa-chevron-down{
                    margin-left: 7px;
                    
                }
            }
        }
    }
}

}