$background-lightblue:#F6FAFF;
$background-grey: #F9F9F9;
$background-number: #E5F3FE;
$background-grid-section-h5: #FFF3ED;
$background-grid-section-blue: #4A63BE;
$background-hover-button: #F35800;

$title-menu: #313131;
$titles-h: #313D6C;
$title-grid: #3B4A81;
$title-review-h1: #1A3154;
$title-price-pros-cons: #282828;

$details: #3D8AFF;
$carousel-dots: #E9E9E9;

$orange-button:#FF922E;

$cards-title: #FF8C4B;
$cards-text: #FFFDFD;
$cards-background: #3A619C;



$footer-menu:#252A38;
$footer-links: #767A80;


// media query
$phone-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;













